#mq-detector {
    visibility: hidden;
}
body {
  background-image: url("../images/superheroes.jpg");
  height: 50%;
  color: #ffffff;
  
}

header {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  color: #ffffff;
}
h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  color: #ffffff;
}

.start {
  text-align: center;
  padding-top: 50px;
}

p {
  color: #ffffff;
}

.gameSpace {
  margin-right: 150px;
  margin-left: 150px;

}
.questions {
  color: #ffffff;
  text-align: center;
}
.gameSpace h2 {
  color: #ffffff;
  opacity: .7;
  background-color: black;
  

}

.gameSpace #timer{
  color: white;
  background-color: black;
  opacity: .7;
  width: max-content;
}
.gameSpace h3 {
  color: #ffffff;
  opacity: .7;
  background-color: black;
}
.answers {
  color: #ffffff;
  text-align: center;
}
.score {
  background: #c3664a;
  border: none;
  z-index: 1;
}

.scores {
  font-size: 1.5em;
  z-index: 1;
}

.badge {
  background: #AB47BC;
  font-size: 0.9em;
}
.footer,
.push {
height: 4em;
text-align: center;
z-index: 1;
}

img {
  background-position:relative;
  width:700px;
  height:400px;
}