#mq-detector {
    visibility: hidden;
}
body {
  background-image: url("/images/superheroes.jpg");
  background-position: relative;
  height: 100vh;
  background-repeat: repeat;
  text-align: center;
  background: #fff;
}

header {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  color: #000;
}
h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  color: #000;
}

.start {
  text-align: center;
  padding-top: 50px;
}

p {
  color: #3E2723;
}

.gameSpace {
  height: 100vh;
  background-position: relative;
  margin-right: 150px;
  margin-left: 150px;
}

.score {
  background: #c3664a;
  border: none;
  z-index: 1;
}

.scores {
  font-size: 1.5em;
  z-index: 1;
}

.badge {
  background: #AB47BC;
  font-size: 0.9em;
}
.footer,
.push {
height: 4em;
text-align: center;
z-index: 1;
}

img {
  background-position:relative;
  width:700px;
  height:400px;
}